<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timmy.thirdframework">

    <application>
        <activity android:name=".database.DataBaseActivity" />
        <activity android:name=".eventbus.EventBusActivity"/>
        <activity android:name=".eventbus.SendEventActivity"/>
    </application>

</manifest>