<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timmy.aacgank">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 粗略的位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 精确的位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!-- 广播私有权限 -->
    <permission
        android:name="com.timmy.broadcast.timmy"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.timmy.broadcast.timmy" />

    <!-- OpenGl权限 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- 纹理 -->
    <!-- <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" /> -->
    <!-- <supports-gl-texture android:name="GL_OES_compressed_paletted_texture" /> -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.launcher.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.other.HandlerActivity" />

        <!-- ********************************Gank******************************************* -->
        <activity android:name=".ui.gank.WelfareDetailActivity" />
        <activity
            android:name=".ui.gank.VideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.gank.android.AndroidDetailActivity" />
        <activity android:name=".ui.gank.IOSDetailActivity" />
        <activity android:name=".ui.movie.MovieDetailActivity" />
        <activity android:name=".ui.android.recyclveriew.layoutmanager.MyLayoutManagerActivity" />
        <activity android:name=".ui.android.behavior.BehaviorActivity" />

        <!-- ********************************Android******************************************* -->
        <!-- Activity -->
        <activity
            android:name=".ui.android.activity.ActivityLifeActivity"
            android:label="Activity知识点"
            android:theme="@style/Theme.AppCompat.Light" />

        <!-- Service -->
        <activity
            android:name=".ui.android.service.ServiceStudyActivity"
            android:label="Service知识点"
            android:theme="@style/Theme.AppCompat.Light" />

        <service android:name=".ui.android.service.DemoService" />
        <!-- 远程服务  process表示RemoteService位于另一个进程 -->
        <service
            android:name=".ui.android.aidl.RemoteService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.timmy.aacgank.aidl.action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name=".ui.android.service.UploadImgIntentService"
            android:exported="false" />

        <!-- BroadcaseReceiver -->
        <activity
            android:name=".ui.android.broadcastReceiver.BroadcaseReceiverActivity"
            android:label="BroadcaseReceiver知识点"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <receiver android:name=".ui.android.broadcastReceiver.NormalReceiver">
            <intent-filter>
                <action android:name="com.timmy.broadcast.action.normal" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ui.android.broadcastReceiver.OrderReceiver1">
            <intent-filter android:priority="100">
                <action android:name="com.timmy.broadcast.action.order" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ui.android.broadcastReceiver.OrderReceiver2">
            <intent-filter android:priority="99">
                <action android:name="com.timmy.broadcast.action.order" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ui.android.broadcastReceiver.OrderReceiver3">
            <intent-filter android:priority="98">
                <action android:name="com.timmy.broadcast.action.order" />
            </intent-filter>
        </receiver>

        <!-- ContentProvider -->
        <activity
            android:name=".ui.android.contentProvider.ContentProviderStudyActivity"
            android:label="ContentProvider知识点整理"
            android:theme="@style/Theme.AppCompat.Light" />

        <provider
            android:name=".ui.android.contentProvider.MyContentProvider"
            android:authorities="com.timmy.myprovider" />

        <!-- 数据存储 -->
        <activity
            android:name=".ui.android.database.DatabaseActivity"
            android:label="数据存储"
            android:theme="@style/Theme.AppCompat.Light" />

        <!-- 事件分发 -->
        <activity
            android:name=".ui.android.motionEvent.MotionEventActivity"
            android:label="事件分发"
            android:theme="@style/Theme.AppCompat.Light" />

        <!-- ********************************音视频开发******************************************* -->
        <activity
            android:name=".ui.multimedia.audio.AudioStudyActivity"
            android:label="AudioRecord音频采集"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name=".ui.multimedia.exoplayer.ExoPlayerActivity" />
        <activity android:name=".ui.multimedia.video.VideoRecordActivity" />

        <!-- OpenGL -->
        <activity android:name=".ui.multimedia.openGL.OpenGLStudyActivity" />

        <!-- ********************************其他******************************************* -->
        <activity android:name=".ui.other.WebViewActivity" />
        <activity android:name=".ui.other.ImmersionActivity" />
        <activity android:name=".ui.cityselect.CitySelectActivity" />

        <!-- ********************************其他******************************************* -->

        <activity android:name=".ui.android.uiDraw.UIDrawActivity" />
        <activity android:name=".ui.multimedia.video.CameraStudyActivity" />
        <activity
            android:name=".ui.multimedia.video.VideoStudyActivity1"
            android:label="@string/title_activity_video_study1"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.android.paint.PaintUseActivity" />
        <activity
            android:name=".ui.android.recyclveriew.RecyclerViewActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".ui.android.recyclveriew.itemdecoration.ItemDecorationActivity"
            android:label="RecyclerView分割线"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name=".ui.multimedia.openGL.OpenGLTriangleActivity" />
        <activity android:name=".ui.android.animation.AnimationUseActivity"></activity>
    </application>

</manifest>