<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timmy.aacgank">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 粗略的位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 精确的位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.launcher.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.other.HandlerActivity" />
        <activity android:name=".ui.gank.WelfareDetailActivity" />
        <activity android:name=".ui.other.WebViewActivity" />
        <activity android:name=".ui.other.ImmersionActivity" />
        <activity
            android:name=".ui.gank.VideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.gank.android.AndroidDetailActivity" />
        <activity android:name=".ui.gank.IOSDetailActivity" />
        <activity android:name=".ui.cityselect.CitySelectActivity" />
        <activity android:name=".ui.movie.MovieDetailActivity" />
        <activity android:name=".ui.movie.layoutManager.MyLayoutManagerActivity" />
        <activity android:name=".ui.android.behavior.BehaviorActivity" />
        <activity android:name=".ui.video.exoplayer.ExoPlayerActivity" />
        <activity
            android:name=".ui.android.activity.ActivityLifeActivity"
            android:label="Activity知识点"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".ui.video.audio.AudioStudyActivity"
            android:label="AudioRecord音频采集" />
        <activity
            android:name=".ui.android.service.ServiceStudyActivity"
            android:label="Service知识点"
            android:theme="@style/Theme.AppCompat.Light" />

        <service android:name=".ui.android.service.DemoService" />
        <!-- 远程服务  process表示RemoteService位于另一个进程 -->
        <service
            android:name=".ui.android.aidl.RemoteService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.timmy.aacgank.aidl.action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name=".ui.android.service.UploadImgIntentService"
            android:exported="false" />

        <activity
            android:name=".ui.android.broadcastReceiver.BroadcaseReceiverActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:label="BroadcaseReceiver知识点" />
    </application>

</manifest>