<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timmy.aacgank">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 粗略的位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 精确的位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!-- 广播私有权限 -->
    <permission
        android:name="com.timmy.broadcast.timmy"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.timmy.broadcast.timmy" />

    <!-- OpenGl权限 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- 纹理 -->
    <!-- <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" /> -->
    <!-- <supports-gl-texture android:name="GL_OES_compressed_paletted_texture" /> -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.launcher.LauncherActivity"
            android:theme="@style/LauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.other.HandlerActivity" />

        <!-- ********************************Gank******************************************* -->
        <activity android:name=".ui.gank.WelfareDetailActivity" />
        <activity
            android:name=".ui.gank.VideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.gank.android.AndroidDetailActivity" />
        <activity android:name=".ui.gank.IOSDetailActivity" />
        <activity android:name=".ui.movie.MovieDetailActivity" />

        <!-- ********************************Android******************************************* -->

        <!-- 远程服务  process表示RemoteService位于另一个进程 -->
        <service
            android:name=".ui.android.aidl.RemoteService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.timmy.aacgank.aidl.action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!-- ********************************音视频开发******************************************* -->
        <activity
            android:name=".ui.multimedia.audio.AudioStudyActivity"
            android:label="AudioRecord音频采集"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name=".ui.multimedia.exoplayer.ExoPlayerActivity" />
        <activity android:name=".ui.multimedia.video.VideoRecordActivity" />

        <!-- OpenGL -->
        <activity android:name=".ui.multimedia.openGL.OpenGLStudyActivity" />

        <!-- ********************************其他******************************************* -->
        <activity android:name="com.timmy.baselib.webview.WebViewActivity" />

        <!-- ********************************其他******************************************* -->

        <activity android:name=".ui.multimedia.video.CameraStudyActivity" />
        <activity
            android:name=".ui.multimedia.video.VideoStudyActivity1"
            android:label="@string/title_activity_video_study1"
            android:theme="@style/AppTheme" />


        <activity android:name=".ui.multimedia.openGL.OpenGLTriangleActivity" />
        <activity android:name=".ui.login.GestureLoginActivity" />
        <activity android:name=".ui.launcher.AdvertiseActivity" />
        <activity android:name=".ui.login.LoginActivity"></activity>
    </application>

</manifest>